<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 text-white">
        <!-- <div class="pt-5">
            <a class="text-blue-500 ml-5 pt-5" href="/">back to home</a>  
        </div> -->
        <div class="pt-5">
            <a class="bg-blue-500 px-5 py-2.5 ml-3 rounded ml-3 text-black" href="/create">create new user</a>  
          
        </div>
        <h1 class="tracking-tighter mb-4 mt-7 text-2xl ml-5">All Users</h1>
        <div class="users flex gap-3 flex-wrap ml-3">
            <% if(users.length > 0){%>
                <% users.forEach( function(user){ %>
                    <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
                        <div class="w-full h-52 bg-red-700 rounded-lg overflow-hidden">
                            <img  class="w-full h-full object-cover" src="<%= user.image %>" alt="">
                        </div>
                        <h3 class="text-xl mt-3 tracking-tighter text-zinc-300"><%= user.name %></h3>
                        <h5 class="text-zinc-300"> <%= user.email %> </h5>
                        <div class="flex mt-5">
                            <a class="text-zinc-500" href="/edit/ <%= user._id%>"> Edit user</a>
                            <a class="text-red-400 ml-3" href="/delete/<%= user._id%>"> Delete user</a>
                        </div>
                    </div>
               <% })%>
            <%}else {%>
                <h3 class="text-zinc-500" >Not user yet</h3>
            <%}%>
             







            <!-- <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 bg-zinc-400 rounded-lg"></div>
                <h3 class="text-xl mt-3 tracking-tighter text-zinc-300">Shahbaz Alam</h3>
                <h5 class="text-zinc-300">shahbaz@gmail.com</h5>
                <div class="flex mt-5">
                    <a class="text-zinc-500" href=""> Edit user</a>
                    <a class="text-red-400 ml-3" href=""> Delete user</a>
                </div>
            </div> -->
    </div>    
    
</body>
</html>